@mixin cinema-background-style {
    background-color: rgb(53, 53, 50);
    color: rgb(226, 197, 102);
}

@mixin set-text {
    padding: 0.5rem;
    text-align: center;
    min-width: 150px;
}

@mixin delete-style {
    background-color: rgb(228, 53, 53);
    color: rgb(214, 176, 106);
    border-radius: 0.3rem;
}