<section class="table-section">
    <button id="get-button">Get movie List</button>
    <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Category</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tbody>
            <tr *ngFor="let movies of list$ | async">
              <td>{{ title.year }}</td>
              <td>{{ year.name }}</td>
              <td>{{ category.name }}</td>
          
              
            </tr>
          </tbody>
        </tbody>
    </table>
</section>
